<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>insertStudentInfo</title>
    <style>
        span {
            display: inline-block;
            width: 100px;
            margin-top: 15px;
            margin-left: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<span>sample</span>
<textarea style="width:500px;height:210px;">
payment statics
year_month,normal_amount,simple_amount
22-01,109134,723668
22-02,100906,697829
22-03,114309,818341
22-04,110340,773819
22-05,106398,761796
22-06,104297,728619
22-07,105555,677363
22-08,121896,681000
22-09,112047,672020
22-10,103360,660387
22-11,111164,645940</textarea>

<form action="/charts/barchart_material" method="get">
    <span>title<br>header<br>body</span>
    <textarea name="requestString" style="width:500px;height:500px;"></textarea>
    <input type="submit"/>
</form>
</body>
</html>
